.body {
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 26, 34);
  margin: 0;
}
