.body {
  font-family: "Georgia1", "Georgia", serif;
  text-shadow: 1px 1px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(27, 26, 34);
  height: 100vh;
  margin: 0;
}
