.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.link_source {
  display: flex;
  justify-content: space-around;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.link_source:hover {
  background-color: rgba(224, 3, 114, .726);
  border-radius: 8px;
}

.link_icon {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  margin-right: 20px;
}

.link__deviantart .link_icon {
  background-image: url(images/deviantart.svg);
  background-color: white;
  border-radius: 20%;
}

.link__instagram .link_icon {
  background-image: url(images/instagram-2016.svg);
  background-color: white;
  border-radius: 30%;
}

.link__vk .link_icon {
  background-image: url(images/icons8-vkontakte.svg);
}

.links {
  width: 100%;
  background-color: rgb(33, 15, 37);
}

.person_links {
  display: flex;
  flex-direction: row;
}
