.header {
  display: flex;
  background-image: url(../images/header-background-two.jpg);
  background-size: cover;
  flex-grow: 1;
  min-height: 100vh;
}

.header_container {
  background-color: rgba(22, 13, 31, .85);
  width: 50vw;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.header_titles {
  position: absolute;
  top: 122px;
  left: 136px;
}

.header_name {
  font-size: 70px;
  color: rgb(255, 60, 60);
}

.header_second-name {
  color: rgb(255, 60, 60);
  font-size: 94px;
  position: absolute;
  top: 143px;
  left: 100px;
}

.header_title {
  color: white;
  position: relative;
  right: 43px;
  top: 43px;
  font-weight: normal;
}

.header_info {
  padding-left: 40px;
  padding-right: 20px;
  top: 18px;
  margin: -10px;
}

.header_personal {
  display: flex;
  padding-left: 360px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: stretch;
}

.header_description {
  font-size: 22px;
  text-align: left;
  color: rgb(189, 112, 112);
}

.header_description-title {
  font-size: 34px;
  color: white;
  font-weight: normal;
  margin: 0;
}

.header_list-title {
  color: white;
}

.header_list {
  list-style-type: none;
  font-size: 22px;
  padding: 0;
  color: rgb(189, 112, 112);
}

.header_list-element {
  padding-bottom: 8px;
}
