.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.link_source {
  display: flex;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
}

.link:hover {
  background-color: rgba(255, 124, 124, .158);
  opacity: 1;
  transition: opacity .75s;
}

.link_icon {
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  margin-right: 20px;
}

.link__deviantart .link_icon {
  background-image: url(../images/deviantart.svg);
  border-radius: 20%;
}

.link__instagram .link_icon {
  background-image: url(../images/instagram.svg);
  border-radius: 30%;
}

.link__vk .link_icon {
  background-image: url(../images/vkontakte.svg);
}

.link_list {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 50px;
  margin: 0;
}
